# Visual Studio caches
.vs/
*.ipch

# Python virtual environments
.venv/
__pycache__/
*.pyc

# Build artifacts
*.obj
*.exe
*.log
*.zip

**/node_modules/.terraform/
*.zip
.terraform/
*.zip
.terraform/


# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Node.js
node_modules/
npm-debug.log
yarn-error.log

